#contact {
  overflow: auto;
}
#contact #form {
  width:410px;
  float:left;
}
#contact #form h2 {
  font: 48px;
}
#contact #form span {
  display:block;
  text-align:center;
  width:100px;
  padding-top:5px;
}
#contact #form input {
  text-align:center;
  width:255px;
  border:0px;
  color:#F1F1F1;
  padding:10px 10px 10px 30px;
  margin-bottom:10px;
}
#contact #form textarea {
  text-align:center;
  border:0px;
  width:255px;
  height:140px;
  padding:10px 10px 10px 30px;
  color:#F1F1F1;
  resize: none;
}
#contact #form input.submit {
  cursor: pointer;
  width:85px;
  height:30px;
  float:right;
  padding:0px 0px 5px 0px;
  margin:10px 16px 0px 0px;
  background:#222222;
  color:#F1F1F1;
}
