.slide-list {
  -moz-animation: slide-list-animation 3s forwards;
  -webkit-animation: slide-list-animation 3s forwards;
  animation: slide-list-animation 3s forwards;
  color: #94c0ec;
}
.slide-list:nth-of-type(1) {
  -moz-animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.slide-list:nth-of-type(2) {
  -moz-animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.slide-list:nth-of-type(3) {
  -moz-animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.slide-list:nth-of-type(4) {
  -moz-animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.slide-list:nth-of-type(5) {
  -moz-animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.slide-list:nth-of-type(6) {
  -moz-animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.slide-list:nth-of-type(7) {
  -moz-animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

@-moz-keyframes slide-list-animation {
  0% {
    opacity: 0;
    -moz-transform: translateX(-500px);
    transform: translateX(-500px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes slide-list-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slide-list-animation {
  0% {
    opacity: 0;
    -moz-transform: translateX(-500px);
    -ms-transform: translateX(-500px);
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/*Section four*/
.p-section-four {
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  margin: 0 0 0.5em 0;
}

/*font*/
.font-normal {
  font-weight: normal;
}
/* colors */
.light-blue {
  color: #94c0ec;
}

.dark-blue {
  color: #0e2e4e;
}

/*padding*/
.padding-top {
  padding-top: 10px;
}

/*margin*/
.margin-bottom-plus50 {
  margin-bottom: 50px;
}

.margin-bottom-plus150 {
  margin-bottom: 150px;
}

.margin-top-minus50 {
  margin-top: -50px;
}

.margin-top-plus33 {
  margin-top: 33px;
}

/*Abend-Logo*/
.abend-logo {
  margin-top: -50px;
  max-height: 100px;
}

/*Fade and scroll support*/
.hideme
{
    opacity:0;
}

/*Customer stories*/
.customer-quote {
  font-weight: bold;
  font-size: 21px;
  margin-top: 30px;
}

.customer-name {
  font-size: 15px !important;
  font-weight: normal !important;
}

.customer-picture {
  border-radius: 100px;
}

.facebook-picture {
  background: white;
  border-radius: 100px;
}

.ul-menu {
  list-style: none;
  padding: 0;
}

.ul-links {
  list-style: none;
  font-weight: normal;
  padding-left: 0.5em;
  display: block;
  margin: 0 0 2em 0;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
  text-align: -webkit-match-parent;
}

.ul-links li {
  text-decoration: none;
  position: relative;#
  margin: 1.25em 0 0 0;
  padding: 0px 15px 10px 0px;
}
